* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Noto Serif", serif;
  color: #333;
  background-color: #f7f7f7;
}

p {
  font-size: 16px;
  color: #555;
  line-height: 1.5;
  letter-spacing: 1.3px;
}

.nav-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 120px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.nav-bar a {
  text-decoration: none;
  color: #333;
}

.logo {
  font-size: 24px;
  font-style: italic;
  font-weight: bold;
}

.nav-bar-list {
  display: flex;
  gap: 40px;
  list-style: none;
  font-size: 18px;
  font-weight: bold;
}

.nav-bar-list a:link,
.nav-bar-list a:visited {
  transition: color 0.3s ease;
}

.nav-bar-list a:hover {
  color: #ff9800;
  text-decoration: underline;
}

.nav-bar-list a:active {
  opacity: 0.7;
}

/* Hero Section */
h1 {
  font-size: 48px;
  font-weight: bold;
  margin: 10px 0;
}

h2 {
  font-size: 32px;
  margin-bottom: 20px;
  letter-spacing: 1.2px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.hero-container {
  padding: 80px 0;
  display: flex;
  justify-content: space-between;
}

.hero-section {
  max-width: 550px;
}

.hero-img img {
  object-fit: cover;
  border-radius: 16px;
}

/* recipes-list */
.recipes-list-section {
  padding: 60px 80px;
}

.recipes-list-section h2 {
  text-align: center;
}

.recipes-list-container {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.recipe-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  width: 400px;
  border-radius: 10px;
}

.recipe-card-padding {
  padding: 15px;
  flex-grow: 1; /*ให้เนื้อหาในการ์ดขยายเต็มพื้นที่*/
}

.recipe-image {
  max-width: 100%;
  height: auto;
  border-radius: 10px 10px 0 0;
}

.recipe-title {
  font-size: 24px;
  font-weight: bold;
  margin: 10px 0;
}

.recipe-description {
  letter-spacing: 0.3px;
  color: #666;
  margin-bottom: 15px;
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: #ff9800;
  color: #fff;
  text-decoration: none;
  border-radius: 10px;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  transition: background-color 0.3 ease;
  margin-bottom: 20px;
}

.btn:hover {
  background-color: #e67e22;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
